.title {
    text-align: center;
    color: #FFF;
    background-color: #3470FF;
    padding: 5px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.text {
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 15;
    &:last-of-type {
        margin-bottom: 20px;
    }
}

.img{
    border-radius: 14px;
}